---
const beneficios = [
  {
    icono: "/icons/cobertura.webp",
    titulo: "Cobertura IOMA y Municipal",
    descripcion: "Atendemos tanto pacientes del municipio como Prestadores Medicos afiliados."
  },
  {
    icono: "/icons/equipo-medico.webp",
    titulo: "Profesionales Certificados",
    descripcion: "Contamos con un equipo médico con experiencia en todas las espcialidades y una atención personalizada."
  },
  {
    icono: "/icons/plataforma.webp",
    titulo: "Portal Web de V.D.R. Salud",
    descripcion: "Navega por nuestro sitio intuitivo, accesible y adaptable a todos los dispositivos."
  },
  {
    icono: "/icons/receta.webp",
    titulo: "Recetas Digitales",
    descripcion: "Tus recetas disponibles en tu correo o WhatsApp sin necesidad de asistir presencialmente."
  }
];
---

<section class="max-w-full mx-auto py-12 md:py-16 px-4 sm:px-6 lg:px-8 text-center bg-cover bg-center" style="background-image: url('/images/med-3.webp')">
  <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-gray-800 mb-8 md:mb-12">¿Por qué elegir VDR Salud?</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 max-w-7xl mx-auto">
    {beneficios.map((b) => (
      <div class="bg-white border border-gray-200 rounded-xl p-4 md:p-6 shadow-xs hover:shadow-lg transition-all duration-300 ease-in-out transform hover:-translate-y-1">
        <img
          src={b.icono}
          alt={b.titulo}
          loading="lazy"
          class="w-16 h-16 mx-auto mb-4"/>
        <h3 class="text-base md:text-lg font-semibold text-gray-800 leading-tight">{b.titulo}</h3>
        <p class="text-xs md:text-sm text-gray-600 mt-2 md:mt-3 leading-relaxed">{b.descripcion}</p>
      </div>
    ))}
  </div>
</section>
