---

import Layout from "../layouts/Layout.astro";
import "../styles/global.css"

---

<Layout >
<section class="container mx-ful" >
    <section>
        <h1>Unite a nosotros</h1>
        <p>Si te interesa formar parte de nuestro equipo, envianos tu CV a <a href="mailto:info@rdv.com.ar"></p>

    </section>


</section>

    

</Layout>
