<footer class="bg-gradient-to-r from-green-900 to-green-600 text-white py-8">
  <div class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row items-center md:items-start justify-between space-y-6 md:space-y-0">
    <div class="flex flex-col items-center md:items-start">
      <img src="/images/Logo-vdr.png" alt="Logo VDR Salud" class="w-62 mb-4 transition-transform duration-300 hover:scale-105" />

      <p class="text-sm mt-2 text-center md:text-left">© 2025 VDR Salud - San Isidro - Todos los derechos reservados.</p>
    </div>
    <nav>
      <ul class="flex flex-col md:flex-row items-center space-y-3 md:space-y-0 md:space-x-8">
        <li>
          <a href="/contacto" class="text-lg transition-colors duration-300 hover:text-green-300">Contacto</a>
        </li>
        <li>
          <a href="/privacidad" class="text-lg transition-colors duration-300 hover:text-green-300">Política de Privacidad</a>
        </li>
        <li>
          <a href="/terminos" class="text-lg transition-colors duration-300 hover:text-green-300">Términos y Condiciones</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
