<section class="bg-[#bbbbbb7c] py-16 px-4 sm:px-6">
  <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold text-gray-800 mb-6">
      ¿Sos profesional de la salud?
    </h2>
    <p class="text-gray-600 text-lg sm:text-xl mb-8">
      En D.V.R Salud estamos en constante crecimiento. Si querés formar parte de nuestro equipo médico, completá el formulario y te contactaremos.
    </p>
    <a
      href="https://api.whatsapp.com/send/?phone=5491124025510&text=Hola%2C+que+tal%3F+Me+gustar%C3%ADa+recibir+mas+informaci%C3%B3n%2C+sobre+el+servicio+de%3A+&type=phone_number&app_absent=0"
      class="inline-flex items-center justify-center bg-[var(--color-verde)] hover:bg-[var(--color-verde-claro)] text-white font-semibold px-6 py-3 rounded-xl transition-all shadow-md hover:shadow-lg w-full sm:w-auto"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="../images/wsp.webp" alt="Ícono de WhatsApp" class="w-6 h-6 mr-2" />
      Postulate Ahora
    </a>
  </div>
</section>
